/* Set the display of the body to flex */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */

.header{
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
}

.links{
    display: flex;
    gap: 20px;
    font-size: 16px;
    font-weight: 300; 

}
/* Hero container */
/* Review the hero part*/
.hero {
    display: flex;
    padding: 60px;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-around;

}
.hero-box > h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.hero-box > p {
    font-size: 15px;
    font-weight: 150;
}

.hero-box {
    flex: 0 0 400px;
}
.hero2 {
    width: 500px;
    height: 300px;
    background-color: gray;

}
.image1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    cursor: pointer;
    padding: 8px 28px;
    border-radius: 8px;
    background-color: royalblue;
    border: 1px solid royalblue;
    color: white;
}

/* Second container */

.mid-header{
    text-align: center;

}
.mid-container{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    padding: 20px;
    flex-wrap: wrap;
    height: 300px;

}
img[src=""]{
    display: none;
}
.item {
    max-width: 160px;
    text-align: center;
    font-size: 14px;
    font-weight: 100;
}
.mid-box{
    border: 2px solid royalblue;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
/* Quote */
.lower-container {
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}
.quote-container{
    max-width: 600px;
    max-height: 300px;
}
.quote{
    font-size: 36px;
    font-weight: 100;
    margin: 0;
}
.author{
    font-size: 16px;
    text-align: end;
    margin: 0;
    padding-right: 30px;    
}
/* Call to action */
.call-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.call-box{
    display:flex;
    max-height: 90px;
    max-width: 700px;
    background-color: #3882F6;
    color: white;
    border-radius: 6px;
    gap: 45px;
    align-items: center;;
    padding: 20px 60px;
}
.call-info > h2,p{
    margin: 0;
}

#sign-up{
    cursor: pointer;
    padding: 8px 28px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    max-height: 40px;
    font-size: 16px;
    font-weight: 200;
}
/* Footer */

.footer{
    display:flex;
    justify-content: center;
    color: white;
    background-color: #1F2937;
    height: 40px;
    align-items: center;

}